@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
h2{
    margin-bottom: 50px;
    font-size: 3rem;
    line-height: 3rem;
    color: #fff;
    text-align: center;
}
h1{
    margin-bottom: 50px;
    font-size: 2rem;
    line-height: 2rem;
    color: #fff;
    text-align: center;
}
body{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.accordian{
    margin: 0px 15px;
    padding: 30px;
    max-width: 700px;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 6px;
}
.content-container:not(:last-child){
    margin-bottom: 15px;
}
.content-container .question-wrap{
    padding: 10px;
    font-size: 18px;
    line-height: 26px;
    color: #000;
    font-weight: 700;
    background-color: rgba(255, 255 , 255, 0.4);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.content-container .question-wrap i{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%) rotate(0deg);
    transition: transform 0.4s linear;
}

.content-container .answer-wrap{
    margin: 5px 0px 0px 0px;
    padding: 0px 10px;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    font-weight: 400;
    background-color: rgba(255, 255 , 255, 0.2);
    border-radius: 4px;
    overflow: hidden;
    max-height: 0px;
    transition: padding 0.2s linear, max-height 0.4s linear;
}
.content-container.active .question-wrap i{
    transform: translateY(-50%) rotate(180deg);
}
.content-container.active .answer-wrap{
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 150px;
}
/* Links CSS */
.demo-link{
    padding: 15px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0px;
}
.demo-link a{
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-decoration: none;
}
.demo-link a:hover{
    color: #a8eb12;
}